{% extends 'base.html.twig' %}

{% block title %}Welcome to dashboard{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">dashboard</a></li>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center"><a href="{{ path('contacts') }}" class="text-dark">{{ contacts }} {% if contacts > 1 %}Messages{% else %}Message{% endif %}</a></h4>
                </div>
                <div class="card-body text-center">Nombre de messages reçus par Gestions ZEN</div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center"><a href="{{ path('newsletters') }}" class="text-dark">{{ emails }} {% if emails > 1 %}Emails{% else %}Email{% endif %}</a></h4>
                </div>
                <div class="card-body text-center">Emails ajoutées à la newsletters</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center"><span class="text-dark"><i class="fa fa-arrow-up"></i> {{ monthVisitors }} visiteur{% if monthVisitors > 1 %}s{% endif %} ce mois</span></h4>
            </div>
            <div class="card-body text-center"><b class="text-danger">{{ yearVisitors }} visiteur{% if yearVisitors > 1 %}s{% endif %} cette année</b></div>
        </div>
    </div>

    <div class="col-md-12 mt-4">
        <h4 class="text-center mt-4">Visites de ce mois</h4>
        <div class="graph">
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(function () {
            var labels = [{% for view in monthViewers %}{{ view['day'] }},{% endfor %}];
            var data = {
                labels: labels,
                datasets: [{
                    label: 'Visiteurs du mois',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [{% for view in monthViewers %}{{ view['viewers'] }},{% endfor %}],
                }]
            };
            var config = {
                type: 'line',
                data: data,
                options: {}
            };
            var myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

        });
    </script>
{% endblock %}